<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="rslperspective.ViewREPL"
            id="rslperspective.view.repl"
            name="REPL"
            restorable="true">
      </view>
      <view
            class="rslperspective.ViewRTest"
            id="rslperspective.view.rtest"
            name="RTest"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to the RSL menu"
            id="rslperspective.category.allfiles"
            name="RSL all">
      </category>
      <command
            categoryId="rslperspective.category.allfiles"
            description="Type check all RSL files in the workspace"
            id="rslperspective.command.typecheckall"
            name="Type check all">
      </command>
      <category
            description="Commands related to the RSL toolbar"
            id="rslperspective.category.activefile"
            name="RSL">
      </category>
      <command
            categoryId="rslperspective.category.activefile"
            defaultHandler="rslperspective.TypeCheckHandler"
            description="Type checks the current active file in the editor"
            id="rslperspective.command.typecheck"
            name="TypeCheck">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="menu.main.rsl"
               label="RSL"
               mnemonic="S">
            <command
                  commandId="rslperspective.command.typecheckall"
                  label="Type check all"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="rslperspective.perspective.rsl">
                  </equals>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="rslperspective.toolbar.main"
               label="RSL toolbar">
            <command
                  commandId="rslperspective.command.typecheck"
                  label="TC"
                  style="push"
                  tooltip="Type checks the active RSL file">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeWorkbenchWindow.activePerspective">
                  <equals
                        value="rslperspective.perspective.rsl">
                  </equals>
               </with>
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="rslperspective.command.typecheckall"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+Alt+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="rslperspective.PerspectiveFactoryRSL"
            id="rslperspective.perspective.rsl"
            name="RSL">
      </perspective>
   </extension>

</plugin>
